body{
    background: black
}
  span {
      color: orange;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: xx-large;
    }
    p{
        width: 410px;
        font-size: larger;
        color: blanchedalmond;
        margin-top: 10mm;
        padding-left: 140mm;
    }