html {
    font-size: 18px;
}
body{
    background: black;
    font-family: 'Playfair Display', serif;
}

.container{
    width: 410px;
    margin: 0 auto;
}

.avatar{
    max-width: 100%;
}

.title{
    color: orange;
    font-size: 1.4rem;
    font-weight: normal;
}

p{
    color: blanchedalmond;
    margin-top: 25px;
}